<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置密码</title>
    <style>
        .btn{
            background-color: #007bff;
            color: white;
            border-radius: 4px;
            padding: 4px 8px;
            font-size: 16px;
        }

    </style>
</head>
<body>
    <div>
        <form action="" method="post">
            <label>请输入密码：</label>
            <input type="password" name="password" value="" />
            <input class="btn" type="submit" value="重置密码">
        </form>
    </div>
</body>
</html>